<app-searchbar></app-searchbar>
<app-colors></app-colors>
<app-not-found
  [visible]="!cards || cards.length <= 0"
  resetLinkText="Reset Search"
></app-not-found>
<ul>
  <li *ngFor="let card of cards">
    <a routerLink="/card/{{ card.id }}">
      <img src="{{ card.imageUrl }}" alt="Card Img" />
    </a>
    <div class="content">
      <div class="name">
        {{ card.name }}
        <span
          [ngClass]="{ isFavorite: card.favorite }"
          (click)="toggleFavorite(card)"
          class="favorite {{ card.favorite ? 'isFavorite' : '' }}"
          >❤</span
        >
      </div>
      <div class="color">
        <span>
          {{ card.color }}
        </span>
      </div>
      <div class="format">
        <span *ngFor="let format of card.tags">{{ format }}</span>
      </div>

      <div class="price">
        <span>{{ card.price | currency : "BRL" : "symbol" : "1.2-2" }}</span>
      </div>
    </div>
  </li>
</ul>
