<div class="container">
  <img [src]="card.imageUrl" [alt]="card.name" />
  <div class="details">
    <div class="header">
      <span class="name">{{ card.name }}</span>
      <span class="favorite {{ card.favorite ? '' : 'not' }}">❤</span>
    </div>
    <div class="color">
      <span>{{ card.color }}</span>
    </div>
    <div class="tags">
      <span *ngFor="let format of card.tags">{{ format }}, </span>
    </div>
    <div class="price">
      <span> {{ card.price | currency : "BRL" }}</span>
    </div>
    <button>Add to Cart</button>
  </div>
</div>
